<!DOCTYPE html>
<html>
<head>
  <title>Main FASTQC</title>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.5.2/holder.min.js"></script> 
  <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
<body>



  <div id="main-container" class="container">
    <div class="page-header">
      <h1>G-FastQC</h1>
      <h3><small>Aggregate FastQC results in single web page. You can explore Charts and Tables.</small></h3>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist" >
              <li role="presentation"><a href="#summaries" aria-controls="summaries" role="tab" data-toggle="tab">Summaries</a></li>
              <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab">Charts</a></li>
              <li role="presentation"><a href="#tables" aria-controls="tables" role="tab" data-toggle="tab">Tables</a></li>
          </ul>
          <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="summaries">
      <!-- Summaries Start-->

                <table id="summy" class="display" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                    <% (["source"]+@type_tables).each do |col_name| %>
                      <th><%= col_name %></th>
                    <% end %>  
                    </tr>
                  </thead>
                  <tbody>
                  <% @tables.each_pair do |sample_name, reads| %>
                    <tr>
                      <td><%= sample_name %></td>
                      <% @type_tables.each do |col_name| %>
                        <td>
                          <% reads.each_pair do |reads_name, tables| %>
                            <%= tables[col_name]["status"]=="fail" ? reads_name : "" %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                  </tbody>
                </table>

      <!-- Summaries End-->  
      </div>


            <div role="tabpanel" class="tab-pane" id="charts">
      <!-- Charts Start-->
        <div role="tabpanel">
          <ul class="nav nav-pills" role="tablist" >
            <% @type_images.each do |type| %>
              <li role="presentation"><a href="#<%= type %>" aria-controls="<%= type %>" role="tab" data-toggle="tab"><%= type %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
          <% @type_images.each do |type| %>
            <div role="tabpanel" class="tab-pane" id="<%= type %>">
              <div class="row">
                <% @data.each_pair do |sample_name, pairs| %>
                <div class="col-xs-6 col-md-6">
                  <div class="caption">
                  <h3><%= sample_name %></h3>
                  <% pairs.each_pair  do |pair, images| %>
                  <h4><%= pair %></h4>
                  <a href="#" class="thumbnail"> 
                    <img data-src="holder.js/300x200" src="data:image/png;base64,<%= pairs[pair][type] %>" alt="<%= sample_name + ' ' + pair %>">
                  </a>
                  <% end %>
                  </div>
                </div>
                <% end %>  
              </div>             
            </div>
          <% end %>
          </div>
        </div>
      <!-- Charts End-->
            </div>

            <div role="tabpanel" class="tab-pane" id="tables">
      <!-- Tables Start-->
        <div role="tabpanel">
          <ul class="nav nav-pills" role="tablist" >
            <% @type_tables.each do |type| %>
              <li role="presentation"><a href="#<%= type %>_div_table" aria-controls="<%= type %>_div_table" role="tab" data-toggle="tab"><%= type %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">

          <% @type_tables.each do |type| %>
            <div role="tabpanel" class="tab-pane" id="<%= type %>_div_table">
              <div class="row">
                <% @tables.each_pair do |sample_name, reads| %>
                  <% reads.each_pair do |reads_name, tables| %>
                    <h3><%= sample_name + "_" + reads_name %></h3>
                    <table id="<%= type %>_<%= sample_name %>_<%= reads_name %>_table" class="display" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                        <% tables[type]["header"].each do |col_name| %>
                          <th><%= col_name %></th>
                        <% end %>  
                        </tr>
                      </thead>
                      <tbody>
                      <% tables[type]["content"].each do |row| %>
                        <tr>
                        <% row.each do |col_value| %>
                          <td><%= col_value %></td>
                        <% end %>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  <% end %>
                <% end %>
              </div>             
            </div>
          <% end %>
          </div>
        </div>
      <!-- Tables End-->  
            </div>


          </div>
        </div>




      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
$(document).ready(function() {
$("#summy").DataTable();
<% @type_tables.each do |type| %>
  <% @tables.each_pair do |sample_name, reads| %>
    <% reads.each_pair do |reads_name, tables| %>                    
      $("#"+"<%= type %>_<%= sample_name %>_<%= reads_name %>_table").DataTable();

    <% end %>
  <% end %>
<% end %>

} );
</script>

</html>